{
  "printWidth": 120,
  "tabWidth": 2,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(.*).css$",
    "^(.*).(yml|yaml)$",
    "^(.*).(json|png|svg|jpg|jpeg)$",

    "^react(/(.*))?$",

    "<THIRD_PARTY_MODULES>",

    "^@/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
